@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    background: #151515;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}


/* --------------------------------
 * header
 * -------------------------------- */

.header {
    z-index: 1;
    position: fixed;
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.header-nav-list {
    display: table;
}
.header-nav-item {
    display: table-cell;
    width: auto;
    padding: 2px 20px;
    border: none;
    text-decoration: none;
    letter-spacing: 1px;
}
.header-nav-item:hover {
    font-weight: bold;
}
.header-nav-logo {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}
.header-nav-link {
    text-decoration: none;
    color: #fff;
}


/* --------------------------------
 * top
 * -------------------------------- */
.top {
    position: relative;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
}
.top-img {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
.top-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.top-title-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 40px;
    line-height: 10px;
}
.top-main-title-wrapper {
    border-bottom: solid 1px #fff;
    line-height: 0px;
}
.top-main-title {
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: lighter;
}

.opaque {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: #d2d6f1;
}
.lt-ie9 .opaque {
    display: none;
}
.feature {/*背景画像*/
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    padding-top: 50%;
    background: url("../images/top.jpg") center center no-repeat;
    /*background-sizeが本スクリプトのキモの部分*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
} 
.content {
    position: relative;
    z-index: 1;
    padding-top: 45%;
    width: 90%;
    margin: 0 auto;
}

/* --------------------------------
 * about
 * -------------------------------- */
.about {
    padding: 200px 20px 50px;
}
.about-profile-img {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 0 auto;
}
.about-profile-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 0 50px;
}


/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
    padding: 50px 20px;
}
.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}
.git {
    color: #280042;
    border: solid 2px #fff;
    background-color:#fff;
}
.qiita {
    color: #18fd92;
    border: solid 2px #18fd92;
}

.btn-flat-border:hover {
background: #67c5ff;
color: white;
}
.git:hover {
    background: #280042;
    color: white;
}
.qiita:hover {
    background: #18fd92;
    color: white;
}

/* --------------------------------
 * gallery
 * -------------------------------- */
.gallery {
    padding: 50px 20px;
}
.gallery-list {
    display: table;
    list-style: none;
    width: 740px;
    height: auto;
    margin: 0 auto;
}
.gallery-list-item {
    display: table-cell;
    float: left;
    padding: 10px;
}
.gallery-img-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #111111;
}
.gallery-img-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.gallery-wrapper input {
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.gallery-wrapper input:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.gallary-button {
    text-decoration: none;
}

.video {
    padding-top: 20px;
}
.video-wrapper input {
    display: block;
    width: 200px;
    margin: 40px auto 0;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}
.video-wrapper input:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.video-button {
    text-decoration: none;
}

/* --------------------------------
 * contact
 * -------------------------------- */
 .contact {
    padding: 50px 0 100px;
  }
  .contact-wrapper {
    display: table;
    margin: 0 auto;
  }
  .contact-form {
    display: table-cell;
    margin: 50px auto 0;
    padding: 10px 20px;
    text-decoration: none;
  }


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
    padding: 12px 0;
    font-size: 1.3rem;
  }



/* --------------------------------
 * スマートフォン用スタイル
 * -------------------------------- */
@media (max-width: 768px) {
    .header {
        width: 100%;
    }
    .header-nav-link {
        display: none;
        margin: 0;
    }
    .header-nav-list {
        margin: 0 auto;
        padding: 0;
    }
    .header-nav-logo {
        display: block;
        margin: 0;
        font-weight: lighter;
    }
    .feature {
        background-size: cover;
    }
    .top-title-wrapper {
        position: static;
    }
    .top-main-title-wrapper {
        text-align: center;
        width: 100%;
    }
    .gallery-list {
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 200px;
    }
    .gallery-list-item {
        display: block;
        float: none;
        margin: 0 auto;
        padding: 10px 0;
    }
    .gallery-list-item-hide {
        display: none;
    }
    .gallery-img-wrapper img {
        padding: 0;
        margin: 0 auto;
    }
    .contact-form {
        padding: 10px;
    }
    .video {
        width: 336px;
        height: 189px;
    }
      
}
